#main {
    width: 800px;
}
#col1 {
    width: 400px;
    float: left;
}

#col2 {
    width: 400px;
    float: right;
}

#simple-board-col1 {
  width: inherit;
}

#simple-board-col2 {
  width: inherit;
}

td {
  text-align: center;
  border-style: solid;
  border-color: black;
}

i {
  font-weight: bold;
  float:right;
  margin-right: 50px;
}

.modal-title {
  font-size: 24px;
}

.modal-label {
  margin-right: 50px;
}
